.control-bar-container{
  background-color: #fff;
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.btn-danger {
  background-color:teal !important;
  border-color: teal !important;
}
