.contacts-list-container{
  background-color: #f1f2f6;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 80vh;
  
}

.cards-holder{
  padding: 1% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}