.contacts-list-container{
  background-color: #f1f2f6;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 80vh;
  
}

.cards-holder{
  padding: 1% 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

.listBg{
  max-width: 40%;
  position: fixed;
  bottom: 0;
  right: 0;
}